@media (max-width: 1199px) {
  .nav-links {
    gap: 15px;
  }

  .hero-card {
    width: 200px;
  }
  

  h1,
  h2,
  h3 {
    font-size: 32px;
  }
}
@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-top: 10px;
  }

  .hero-card {
    width: 45%;
  }
  h1,
  h2 {
    font-size: 20px;
  }

  .quiz-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 20px;
    padding: 30px;
  }

  .quiz-container {
    padding: 15px;
    max-width: 200px;
  }

  .hero-card {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .hero-image {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .nav-logo {
    font-size: 1.4rem;
  }

  .nav-links li a {
    font-size: 1rem;
  
  }

  .hero-card {
    padding: 10px;
    font-size: 0.9rem;
  }

  h1,
  h2,
  h3 {
    font-size: 15px;
    padding: 20px;
  }

  button {
    width: 100%;
    font-size: 1rem;
  }
}
